<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.umi">

    <overlay
        android:isStatic="true"
        android:priority="700"
        android:targetPackage="android" />
</manifest>
