# Copyright (C) 2022 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# xlog
/dev/xlog                 0660   system     audio

#spi ir nodes
/dev/ir_spi               0660   system     system

# mius iio devices
/dev/iio:device*                                                           0660 system system
/sys/devices/platform/us_prox.0/iio:device* buffer/enable                  0600 system system
/sys/devices/platform/us_prox.0/iio:device* scan_elements/in_proximity_en  0600 system system
/sys/devices/platform/us_prox.0/iio:device* scan_elements/in_timestamp_en  0600 system system
