on boot
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/fod_ui
    chmod 0444 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/fod_ui

service fingerprint-inscreen-1-0 /vendor/bin/hw/vendor.lineage.biometrics.fingerprint.inscreen@1.0-service.xiaomi_umi
    interface vendor.lineage.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    shutdown critical
